* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
}

/*Header*/
.header {
    display: flex;
    align-items: center;  
    background-color: #2BBAC0;    
}

.header--container{
    display: flex;
    width: 50%; 
    height: auto;
}

.container__logo{
    width: 250px;
    height: auto;
    padding: 10px;
}

.nav__title{
    margin-top: 70px;
}

.nav--header{
    width: 50%;
    margin-left: 30%;
    margin-bottom: 5%;
}

.nav__list{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__item{
    padding: 5px;
}

.nav__buscador{
    width: 270px;
    height: 25px;
    border-radius: 5px;
}

.nav__boton{
    text-decoration: none;
    background: #fff;
    padding: 4px;
    border-radius: 2px;
    color: black;
}

.nav__boton:hover{
    background: gray;
}

i{
    font-size: 35px;
    color: black;
}

i:hover{
    color: white;
}

.header__raya{
    background-color: black;
    width: 98%;
    height: 6px;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: 5px;    
    color: #fff;
}

.nav--menu{
    background-color: #2BBAC0;
    margin-top: 5px;
}

.nav--menu .nav__list{
    margin-left: 22%;
}

.nav--menu .nav__item{
    padding-right: 50px;
}

.nav__link:hover{
    color: white;
}

.nav__link{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.nav__link :hover{
    color: gray;
    text-decoration: underline;
}
/*Header*/

/*PaginaArticulosInicio*/
.sectionArticulos{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.sectionArticulos__title{
    margin-left: 90px;
    margin-top: 40px;
}

.sectionArticulos--articleArticulos{
    background: #E0E0E0;
    width: 250px;
    height: 340px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px groove;
    border-radius: 5px;
}

.articleArticulos__img{
    padding: 10px;
    width: 180px;
    height: auto;
}

.articleArticulos__nombre{
    font-size: 20px;
    padding: 3px;
}

.articleArticulos__text{
    font-size: 15px;
    padding: 3px;
}

.articleArticulos__textRight{
    font-size: 15px;
    padding: 3px;
    text-align: right;
}

.sectionArticulos--articleArticulos i{
    font-size: 30px;
    color: red;
}

.sectionArticulos--articleArticulos i:hover{
    color: white;
}

.articleArticulos__boton{
    text-decoration: none;
    margin-left: 200px;
}
/*PaginaArticulosInicio*/

/*PaginaArticulos Compu, Celu, Audio, Perifericos*/
.sectionCCAP{
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 1%;
    display: flex;
}

.sectionCCAP__title{
    margin-left: 90px;
    margin-top: 15px;
}

.sectionCCAP--divCategorias{
    background: #E0E0E0;
    width: 250px;
    height: 300px;
    border: 2px groove;
}

.divCategorias--articleCategorias{
    width: 20%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.articleCategorias__Categoria{
    text-align: center;
    background: #2BBAC0;
    text-decoration: none;
    width: 150px;
    margin-top: 10px;
    margin-left: 40px;
    padding: 2px;
    border: 1px solid;
    color: black;
    border-radius: 3px;
}

.articleCategorias__Categoria:hover{
    color: white;
}

.divCategorias--articleCategorias .categoriaActiva{
    background: gray;
}

.sectionCCAP--divCCAP{
    width: 77%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.divCCAP--articleCCAP{
    background: #E0E0E0;
    width: 250px;
    height: 340px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px groove;
    border-radius: 5px;
}

.articleCCAP__img{
    padding: 10px;
    width: 180px;
    height: auto;
}

.articleCCAP__nombre{
    font-size: 20px;
    padding: 3px;
}

.articleCCAP__text{
    font-size: 15px;
    padding: 3px;
}

.articleCCAP__textRight{
    font-size: 15px;
    padding: 3px;
    text-align: right;
}

.divCCAP--articleCCAP i{
    font-size: 30px;
    color: red;
}

.divCCAP--articleCCAP i:hover{
    color: white;
}

.articleCCAP__boton{
    text-decoration: none;
    margin-left: 200px;
}

/*PaginaArticulos Compu, Celu, Audio, perifericos*/

/*AboutUs*/
.sectionAbout{
    width: 90%;
    margin-left: 5%;
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.sectionAbout--pageOptions{
    background: #E0E0E0;
    width: 250px;
    height: 340px;
    margin-left: 100px;
    margin-top: 120px;
    padding: 10px;
    border: 2px groove;
    border-radius: 5px;
}

.pageOptions__list{
    list-style: none;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

.pageOptions__item{
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 7px;
    border-top: 2px solid;
}

.pageOptions__link{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

.pageOptions__link:hover{
    color: white;
}

.sectionAbout--about{
    background-color: rgb(194, 188, 188);
    margin-top: 40px;
    padding: 15px;
    margin-left: 200px;
    border: 2px groove;
    border-radius: 5px;
}

.about__title{
    font-size: 20px;
    margin-bottom: 5px;
}

.about__text{
    font-size: 15px;
    margin-bottom: 10px;
}

.about__list{
    list-style: none;
}

.about__item .about__text{
margin-bottom: 2px;
}

/*AboutUs*/

/*Footer*/
.footer{
    display: flex;
    align-items: center;  
    background-color: #333333; 
    margin-top: 3%;
    color: white;
}

.footer--container{
    display: flex;
}

.footer__logo{
    width: 200px;
    height: 120px;
    padding: 5px;
}

.footer__list{
    list-style: none;
    margin-left: 5%;
}

.footer__title{
    margin-left: 5px;
    font-size: 20px;
}

.footer__item{
    padding: 5px;
}

.footer__item i{
    font-size: 20px;
    color: white;
    padding-right: 10px;
}

.footer .nav__list{
    margin-left: 10%;
    margin-bottom: 10%;
}

.footer__instagram i{
    font-size: 40px;
}

.footer__instagram i:hover{
    color: black;
}

.footer__facebook i{
    font-size: 40px;
}

.footer__facebook i:hover{
    color: black;
}

.footer__twitter i{
    font-size: 40px;
}

.footer__twitter i:hover{
    color: black;
}

.footer--pago{
    display: block;
    margin-left: 215px;
}

.footer__pago{
    width: 310px;
    height: 40px;
    margin-top: 10px;
} 

.footer__titleDerechos{
    margin-top: 100px;
}
/*Footer*/