* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
}

header {
    display: flex;
    align-items: center;  
    background-color: #2BBAC0;    
}

.header--container{
    display: flex;
    width: 50%;
    height: auto;
}

.container__logo{
    width: 350px;
    height: auto;
    padding: 10px;
}

.nav__title{
    margin-top: 100px;
}

.nav--header{
    width: 50%;
    margin-left: 30%;
    margin-bottom: 10%;
}

.nav__list{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__item{
    padding: 10px;
}

.nav__buscador{
    width: 270px;
    height: auto;
}

.nav__boton{
    text-decoration: none;
    background: #fff;
    padding: 4px;
    border-radius: 2px;
    color: black;
}

 .nav__login i{
      font-size: 35px;
      color: black;
  }

  .nav__carrito i{
    font-size: 35px;
    color: black;
}

