@import 'SCSS/abstracts/variables';
@import 'SCSS/base/reset';
@import 'SCSS/base/typography';
@import 'SCSS/components/contact';
@import 'SCSS/components/especificProduct';
@import 'SCSS/components/index';
@import 'SCSS/components/Login';
@import 'SCSS/components/pay';
@import 'SCSS/components/register';
@import 'SCSS/components/shoppingCar';
@import 'SCSS/layout/footer';
@import 'SCSS/layout/header';
@import 'SCSS/layout/navigation';

/*Crud css*/
body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: transparent;
    color: black;
    border: 2px solid steelblue;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    margin-left: 27%; 
    margin-top: 2%;
}

input[type=submit]:hover{
    background-color:darkgrey;
    transition-duration: 0.5s;
    color: white;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
/*CRUD end*/

/*Responsive*************************************/
@media screen and (max-width: 1250px){
    /*Responsive Header*/
.nav--header{
    margin-left: 5%;
}
    /*Responsive Header*/

    /*Responsive Inicio*/
.sectionArticulos{
    grid-template-columns: repeat(3, auto);
}
    /*Responsive Inicio*/
    
    /*Responsive CCAP*/
.sectionCCAP{
    display: flex;
}
.sectionCCAP--divCategorias{
    width: 350px;
}
.sectionCCAP--divCCAP{
    width: 100%;
    grid-template-columns: repeat(2, auto);
}
    /*Responsive CCAP*/

    /*Carrito*/
    .car__img {
        padding-top: 15px;
        height: auto;
        width: 100px;
    }

    .car__input {
        width: 80px;
        height: 30px;
        font-size: 18px;
    }

    .car__price {
        font-size: 16px;        
    }

    .button_pay {        
        margin-left: 0px;
    }
    /*Fin carrito*/

    /*LOGIN*/    

    .login__startSesion {
        margin-left: 500px;        
    }
    .login__singUp {        
        margin-left: 550px;        
    }
    /*LOGIN*/

    /*Artículo Específico*/
    .product__img {
        height: auto;
        width: 350px;
    }    
    .prduct--article {        
        margin-top: 40px;
    }
    .product--specifications {        
        margin-top: 40px;     
        margin-left: 5px;   
    }
    .product__adCar {        
        margin-left: 20px;       
    }
    /*Fin artículo*/

    /*Responsive Registro*/
.section{
    margin-left: 10%;
}

.section__formulario{    
    width: 50%;
}

.div--Lateral{
    left: 15%;
}
/*Responsive Registro*/

/*Responsive Contacto*/
.section--contact{
    margin-left: 5%;
}

.contact--image{
    left: 2%;
}
/*Responsive Contacto*/

/*Responsive Pago*/
.section--factura{
    margin-left: 2%;
    width: 50%;
}

.form--factura{
    width: 90%;
    background-color: dimgray;
}

form{
	width:88%;
}

.section--entrega{
    margin-top: -348px;
    margin-left: 50%;
    width: 50%;
}

.form--entrega{
    width: 90%;
    background-color: dimgray;
}
.boton--pago{
    position: relative;
    top: 100px;
    right: 40px;
    background-color: lightgray;
}
/*Responsive Pago*/
    
    /*Responsive Footer*/
.footer--container{
    display: grid;
    grid-template-rows: repeat(3, auto);
}
.footer--pago{
    margin-left: 10px;
}
    /*Responsive Footer*/
}
/*Responsive end****************************************/

/*Responsive Movil*************************************/
@media screen and (max-width: 930px){
    /*Responsive Header*/
.header{
    display: block;
}
.header--container{
    display: block;
}
.nav__title{
    margin-top: 20px;
    margin-left: 20px;
}
.nav__list{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.nav--menu .nav__list{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
    /*Responsive Header*/

    /*Responsive Inicio*/
.sectionArticulos{
    grid-template-columns: repeat(1, auto);
}
    /*Responsive Inicio*/

    /*Responsive CCAP*/
.sectionCCAP{
    display: block;
}
.sectionCCAP--divCategorias{
    margin-left: 15px;
    width: 250px;
    margin-bottom: 20px;
}
.sectionCCAP--divCCAP{
    grid-template-columns: repeat(1 , auto);
    margin-left: 15px;
}
    /*Responsive CCAP*/

    /*Responsive Acerca*/
.sectionAbout{
    display: block;
}
.sectionAbout--about{
    margin-left: 20px;
}
.sectionAbout--pageOptions{
    margin-left: 20px;
}
    /*Responsive Acerca*/

    /*LOGIN*/
.login--article {
    height: 300px;
}
.login__list {        
    display: block;
}

.login__startSesion {
    margin-left: 100px;        
}
.login__singUp {        
    margin-left: 150px;        
}
/*LOGIN*/


/*Artículo Específico*/
.product__img {
    height: auto;
    width: 300px;
}

.product--container{
    display: block;
}

.prduct--article {       
    margin-top: 20px;
    margin-left: 30px;
}

.product--specifications {
    margin-left: 30px;
    margin-top: 20px;  
    margin-bottom: 200px;     
}

.product__buy {
    margin-top: 20px;
}

.product__adCar {
    margin-top: 20px;
    margin-left: 10px; 
}
/*Fin artículo*/

/*Responsive Registro Movil*/
.section{
    display: flex;
    margin-top: 400px;
    margin-left: 4%;
}

.section__formulario{    
    height: 660px;
    width: 400px;
    background-color: dimgray;
}


form{
width:87%;
}

.div--Lateral{
position: absolute;
top: 500px;
left: 15%;
width: 320px;
height: 350px;
background-color: darkgray;
}
/*Responsive Registro Movil*/

/*Responsive Contacto Movil*/
.section--contact{
    margin-left: 5%;
    width: 90%;
}

.contact--form{
    margin-top: 80%;
    margin-bottom: 2%;
    height: 430px;
    width: 80%x;
}

.contact--image{
    position: absolute;
    top: 460px;
    left: 0%;
    width: 450px;
    height: 380px;
}

button{
    margin-left: 22%; 
}  
/*Responsive Contacto Movil*/

/*Responsive Pago Movil*/
.section--factura{
    margin-left: 5%;
    width: 100%;
}
 
.section--entrega{
    margin-top: 400px;
    margin-left: 5%;
    width: 100%;
}

/*Responsive crud*/
input[type=submit]{    
    margin-left: 5%; 
    margin-top: 2%;
}

body > table{
    width: 100%;
}

form{
    width: 100%;
}

td{
    display: block;
}

td, th {   
    display: flex;     
    padding: 1px;
}


/*End responsive crud*/
}
/*Responsive Movil end**********************************/